<%= form_with model: @product, url:{:action => 'create'}, local: true do |form| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="prdt">
    <div class="container">
      <div class="prdt-top">
        <div class="col-md-12">
              <h2>Add New Product</h2>

              <div class="register-main">
                <div class="col-md-7 account-left">
                    <div class="form-group has-feedback">
                      <%= form.label :title %><br>
                      <%= form.text_field :title, class: "" %>
                    </div>
                    <div class="form-group has-feedback">
                      <%= form.label :description %><br>
                      <%= form.text_field :description, class: "" %>
                    </div>
                    <div class="form-group has-feedback">
                      <%= form.label :price %><br>
                      <%= form.number_field :price, min: 0, class: "" %>
                    </div>
                    <div class="has-feedback">
                      <%= form.label :category_id %><br>
                      <%= form.number_field :category_id, min: 1, max: 14, class: "" %>
                    </div>
                  <br>
                    <div class="has-feedback">
                      <%= form.label :img %> <br>
                      <%= form.file_field :img, class: "" %> <br>
                      <%= form.submit class: "" %> <br>
                      <% end %>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>